<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
		PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">


<generatorConfiguration>
	<classPathEntry location="mysql-connector-java-8.0.19.jar" />
	<context id="chen_mybatis_generate" targetRuntime="MyBatis3" defaultModelType="flat">
	<!--<context id="DB2Tables" targetRuntime="MyBatis3Simple">-->
	    <!--<plugin type="org.mybatis.generator.api.PaginationPlugin"></plugin>-->
		<commentGenerator>
			<property name="suppressDate" value="true" />
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>
		<jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/school" userId="root" password="12345678">
			<property name="nullCatalogMeansCurrent" value="true" />
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!--生成的java entity 放置的目录 -->
		<javaModelGenerator targetPackage="com.chen.campus_trade.dao.entity" targetProject="/Users/admin/work/project/19.lan_work_/school/backend/tool/mapper">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!--生成的xml放置的目录-->
		<sqlMapGenerator targetPackage="mapper" targetProject="/Users/admin/work/project/19.lan_work_/school/backend/tool/mapper">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!--生成的mapper 接口放置的目录-->
		<javaClientGenerator type="XMLMAPPER" targetPackage="com.chen.campus_trade.dao.mapper" targetProject="/Users/admin/work/project/19.lan_work_/school/backend/tool/mapper">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- 使用%表示，通配符，代表库中所有的表都被选中，可以配置为具体的表名，那样的话只会配置的表生成 -->
		<!--<table tableName="%" enableSelectByExample="false" enableDeleteByPrimaryKey="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">-->
			<!--<property name="useActualColumnNames" value="true"/>-->
		<!--</table>-->

		<!-- 使用%表示，通配符，代表库中所有的表都被选中，可以配置为具体的表名，那样的话只会配置的表生成 -->
		<table tableName="goods" enableSelectByExample="false" enableDeleteByPrimaryKey="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
			<property name="useActualColumnNames" value="true"/>
		</table>


	</context>
</generatorConfiguration> 