<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='用户管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane layui-col-xs11" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-inline">
                    <input id="searchName" name="name" autocomplete="off" class="layui-input" type="text"/>
                </div>

                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">查找</button>
            </div>


        </form>

        <button class="layui-btn layui-btn-normal" onclick="addUser()" style="float: right;margin-top: 20px;">添加分类</button>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

<!--        <button class="layui-btn layui-btn-normal" onclick="addUser()">开通用户</button>-->

        <div style="display:none;" id="currentUser"></div>

        <table id="uesrList" lay-filter="userTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            {{#  if(d.state == '0'){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="recover">生效</a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            {{#  } }}
        </script>
    </div>


    <!--添加或编辑分类-->
    <div id="setUser" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="userForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-inline">
                    <input id="name" name="name" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
             <div class="layui-form-item">
                <label class="layui-form-label">分类图片</label>
                <div class="layui-input-inline">
<!--                    <input id="image" name="image" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>-->
                    <input type="image" name="image" id="image" src="" lay-verify="required" autocomplete="off" value=""  style="width: 50px;height: 50px"/>
                    <button type="button" class="layui-btn" id="test1">
                        <i class="layui-icon"></i>上传图片
                    </button>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否启用</label>
                <div class="layui-input-inline">
                    <select name="state"  id="state" >
                        <option th:value="0">禁用</option>
                        <option th:value="1">启用</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="userSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>

    <script src="/js/category/category.js"></script>

</div>
</body>
</html>